data_factory/pipeline/CT Integration Helper.json
{
	"name": "CT Integration Helper",
	"properties": {
		"activities": [
			{
				"name": "Set RecordOffset",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RecordOffset",
					"value": {
						"value": "@mul(variables('Batch'),variables('BatchSize'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Batch",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Batch",
					"value": {
						"value": "@pipeline().parameters.Batch",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set BatchSize",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Batch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "BatchSize",
					"value": {
						"value": "@pipeline().parameters.BatchSize",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Secret",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set BatchSize",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CAPACITY-TRACKER-API-KEY",
					"value": {
						"value": "@pipeline().parameters.Key",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Batch": {
				"type": "int"
			},
			"BatchSize": {
				"type": "int"
			},
			"Key": {
				"type": "securestring"
			},
			"PipelineRunDateTime": {
				"type": "string"
			}
		},
		"variables": {
			"RecordOffset": {
				"type": "Integer"
			},
			"Batch": {
				"type": "Integer"
			},
			"BatchSize": {
				"type": "Integer"
			},
			"CAPACITY-TRACKER-API-KEY": {
				"type": "String"
			},
			"test": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Capacity Tracker"
		},
		"annotations": []
	}
}