data_factory/pipeline/NOMIS Ingestion Worker.json
{
	"name": "NOMIS Ingestion Worker",
	"properties": {
		"activities": [
			{
				"name": "Get secret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(\n    'https://dapalpha-kv-'\n    , replace(pipeline().DataFactory, 'dapalpha-adf-data-', ''),\n    '.vault.azure.net/secrets/NOMIS-API?api-version=7.4'\n)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "DAPAlpha-IR",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net/"
					}
				}
			},
			{
				"name": "Set secret",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "NOMIS-API-key",
					"value": {
						"value": "@activity('Get secret').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get number of rows",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "CSV_NOMIS_API",
						"type": "DatasetReference",
						"parameters": {
							"RelativeURL": "@concat(     'dataset/',     pipeline().parameters.metric_id, '.data.csv?uid=', variables('NOMIS-API-key') )"
						}
					}
				}
			},
			{
				"name": "Set RecordCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get number of rows",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RecordCount",
					"value": {
						"value": "@int(activity('Get number of rows').output.firstRow.RECORD_COUNT)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web to Lake iterate",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Initialise RecordOffset",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('RecordOffset'),variables('RecordCount'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Web to lake",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "CSV_NOMIS_API",
									"type": "DatasetReference",
									"parameters": {
										"RelativeURL": {
											"value": "@concat(     'dataset/',     pipeline().parameters.metric_id, '.data.csv?uid=', variables('NOMIS-API-key'), '&recordoffset=',variables('RecordOffset') )",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CSV_Lake",
									"type": "DatasetReference",
									"parameters": {
										"container": "raw",
										"filepath": {
											"value": "@concat('NOMIS/Metrics/Metric_',pipeline().parameters.metric_id)",
											"type": "Expression"
										},
										"filename": {
											"value": "@concat('metric_', concat(pipeline().parameters.metric_id, '_offset_', variables('RecordOffset'), '.csv'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update RecordOffset temp",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web to lake",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "RecordOffsetTemp",
								"value": {
									"value": "@variables('RecordOffset')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Update RecordOffset",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Update RecordOffset temp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "RecordOffset",
								"value": {
									"value": "@add(variables('RecordOffsetTemp'),1000000)",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Initialise RecordOffset",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set RecordCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RecordOffset",
					"value": 0
				}
			}
		],
		"parameters": {
			"metric_id": {
				"type": "string"
			}
		},
		"variables": {
			"NOMIS-API-key": {
				"type": "String"
			},
			"RecordCount": {
				"type": "Integer"
			},
			"RecordOffset": {
				"type": "Integer"
			},
			"RecordOffsetTemp": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "NOMIS"
		},
		"annotations": []
	}
}